nav {
  display: flex; /*Alinea el logo y el menu en fila uno al lado del otro*/
  justify-content: space-between; /*Separa el logo a la izquierda y el menu a la derecha*/
  align-items: center; /*Centra verticalmente el contenido del nav*/
  background-color: #015ebb; /*Color de fondo del nav*/
  padding: 10px 40px; /*Espaciado interno del nav, lo primero es vertical y el segundo es horizontal*/
}

.menu-principal {
  display: flex; /*Alinea los elementos del menu en fila uno al lado del otro*/
  gap: 30px;
}

.menu-principal a {
  text-decoration: none; /*Elimina el subrayado de los enlaces*/
  color: #7d8996; /*Color del texto de los enlaces del menu*/
  font-size: 14px; /*Tamaño de fuente de los enlaces del menu*/
  font-family:
    "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /*Fuente de los enlaces del menu*/
  text-transform: uppercase; /*Convierte el texto de los enlaces del menu a mayúsculas*/
  letter-spacing: 1px; /*Espaciado entre letras de los enlaces del menu*/
}
